<h1 mat-dialog-title>Create</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="form-content">
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      
    </form>
    
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">Save</button>
</div>